*{
    margin: 0;
    padding: 0;
}

#registration{
    background-image: url(./images/registration\ bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    background-size: cover;
    position:relative;
    display: block;
}

.name-box{
    position: absolute;
    top:35%;
    left:50%;
    transform: translateX(-50%);
}
.name-label{
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: white; 
    border: 2px solid white;
    border-radius: 8px; 
    padding: 10px 50px;
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
#name{
    width: 100%;
    height: 50px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    color: white;
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

#sub{
    padding:2%;
    background-color: rgb(39, 39, 160);
    width: 150px;
    height: 70px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.playgame-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



#error-box{
    background-color:white;
    padding : 2%;
    width:120px;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    display: none;
}

#error-box button{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    padding:4px;
    background-color: red;
    color: white;
}

#footer{
    color: white;
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-family: sans-serif ;
}


.heading1{
    font-size: 60px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px white;
    
}

.heading2{
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(168, 219, 219);
    
}

#game-page{
    display: none;
    width: 100%;
    height: 100vh;
    background-image:url(./images/game\ page\ bg.webp);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
}

.header{
    display: flex;
    justify-content: space-between;
    
}
#display-box{
    margin-top: 30px;
    margin-left: 50px;
}

#score-box{
    margin-top: 30px;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#score-box p{
    color: white;
}

#player-name ,#score-display{
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    height:50px;
    width:180px;
    color: white;
    display: flex;
    box-sizing: border-box;
}

#player-name{
    font-size: 25px;
    padding: 2%;
}

#score-display{
    font-size: 40px;
    justify-content: center;
    text-align: center;
}
#display-box p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#mid-main{
    margin-top: 80px;
    position: relative;
    left:5%;
    width:80%;
    padding: 20px 30px;
    margin-left:30px; 
    box-shadow: 10px 10px 30px 20px rgb(73, 71, 71);
}
#timer-box{ 
   position: absolute;
   left:10%;
}

#timer-box p{
    color: white;
    font-size: 60px;

}

.dice-image{
    margin-top: 30px;
}

#dice{
    position: relative;
    left:70%;
}

#roll-again-button{
    margin-top: 30px;
    display: inline-block;
    position: relative;
    left:42%;
}

#roll-again-button:hover{
    transform: scale(1.2);
    transition: all 1s;
}
      
#btn{
    padding: 4%;
    height: 40px;
    width:100px;
}

.new-buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.new-btn{
    height:50px;
    width:180px;
    padding : 20px 10px;
    box-sizing: border-box;
    display: none;
}

#new-user-btn{
    margin-right: 8px;
    font-size: 15px;
    padding-bottom: 3%;
    font-weight: bold;
}

#play-again-btn{
    margin-left: 8px;
    font-size: 15px;
    padding-bottom: 3%;
    font-weight: bold;
}

#roll-again-btn{
    position: relative;
    top:60%;
    left:50%;
    transform: translateX(-50%);
    background:none;
    color: white;
    border: none;
    font-size: 30px;
}


