*{
    margin: 0;
    padding: 0;
}

#registration{
    background-image: url(./images/registration\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
    display: block;
    position: relative;
}

.regist-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.heading1{
    font-size: 70px;
    letter-spacing: 6px;
    text-shadow: 2px 2px 8px white;
    color:white;
    font-family: 'Koulen';
}

.regist-mid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    margin-top: 30px;
    background-color: #24243C;
    padding: 40px;
    width: 500px;
    position: relative;
    border-radius: 17px;
    box-shadow:  -5px -5px 20px -5px #24243C;
}

.name-box{
    display: flex;
    justify-content: center;
}

#name{
    width: 400px;
    padding:10px;
    border-radius: 7px;
    border: none;
    background-color:#404156;
    outline: none;
    color: white;
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
   
}


.playgame-button{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub{
    background-color: #F16879;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    box-shadow:  5px 5px -5px #F16879;
}

#error-box{
    background-color:rgb(202, 197, 197);
    padding : 20px 30px;
    width: 330px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow:  -4px -3px 4px -2px rgba(0,0,0,0.1);
    display: none;
}

#error-box p{
    text-align: center;
}
.button-holder{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#error-box button{
    padding:8px; 
    background-color: red;
    color: white;
}

#game-page{
    display: none;
    background-image:url(./images/game-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.header h1{
    color: white;
}

.name-score-box{
    display: flex;
    justify-content: space-between;
    padding: 30px 165px;
    margin-top: 30px;
}

#player-name ,#score-display{
    background-color: white;
    border-radius: 8px;
    height:60px;
    width:220px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    opacity: 0.3;
}

#display-box p,#score-box p{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.upper{
    display: flex;
    padding: 20px 90px;
    justify-content: space-between
}

#timer{
    font-size: 40px;
    color: white;
    margin-left: 140px;
}

.dice-image{
    margin-right: 105px;
}
#dice{
    width:160px;
    cursor: pointer;
}

#roll-again-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#roll-again-button:hover{
    transform: scale(1.2);
    transition: all 1s;
}

#roll-again-btn{
    background:none;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.new-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-user-btn{
    margin-right: 30px;
    background-color: rgb(238, 25, 25);
    border: none;
    color: white;
    display: none;
}

#play-again-btn{
    background-color: green;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display:none ;
}
.new-btn{
    height: 60px;
    width: 150px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}




